<div class='ui attached basic segment'>
    <div>
        <a class="ui teal ribbon label" (click)="showSetting()">
            {{title | tran:glsetting.lang}}
        </a>
        {{Yue.Name | tran:glsetting.lang}}月 {{Ri.Name | tran:glsetting.lang}}日
    </div>

    <div class="ui fluid accordion question" style="margin-bottom: 5px">
        <div class="active title">
            <i class="dropdown icon"></i>
            <span style="font-weight: bolder">{{'卦问: ' | tran:glsetting.lang}}</span>
            {{Info.question | tran:glsetting.lang}}
        </div>
        <div class="active content" style="padding: 0">
            <p  style="margin: 0">
                <span style="font-weight: bolder">{{'时间: ' | tran:glsetting.lang}}</span>
                {{Info.time | tran:glsetting.lang}}
            </p>
            <p>
                <span style="font-weight: bolder">{{'方式: ' | tran:glsetting.lang}}</span>
                {{Info.type | tran:glsetting.lang}}
            </p>
        </div>
    </div>

    <div class="ui equal width grid" *ngFor="#sslist of ShenShas; #row=index"
        style="margin-left: 5px;">
        <div class="column" *ngFor="#ss of sslist;"
             [style.padding-top]="row > 0 ? 0 : null"
             style="padding-left: 0px;padding-bottom: 0px;padding-right:0;margin-right: -10px">
            {{ss.name | tran:glsetting.lang}}
        </div>
    </div>

    <div class="ui grid" style="margin-left: 5px;">
        <div class="four wide column" style="padding: 0"></div>
        <div class="five wide column gua mean"
             [attr.data-content]="Yue.NaYin"
             style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">
            {{Yue.Name | tran:glsetting.lang}}月
        </div>
        <div class="seven wide column gua mean"
             [attr.data-content]="Ri.NaYin"
             style="padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">
            {{Ri.Name | tran:glsetting.lang}}日&nbsp;
            (旬空: {{GetShenSha('旬空') | tran:glsetting.lang}})
        </div>
    </div>

    <div class="ui grid" style="margin-left: 5px;margin-top: 10px;">
        <div class="four wide column"
             style="padding-left: 0px;padding-right: 0px;">
            {{GuaGong | tran:glsetting.lang}}
        </div>
        <div class="five wide column gua mean"
             style="padding-left: 0px;padding-right: 0px;"
             [attr.data-title]="Bengua.title"
             [attr.data-content]="Bengua.content">
            {{Bengua.text | tran:glsetting.lang}}
        </div>
        <div class="one wide column"></div>
        <div class="five wide column gua mean"
             style="padding-left: 0px;padding-right: 0px;"
             [attr.data-title]="Biangua.title"
             [attr.data-content]="Biangua.content">
            {{Biangua.text | tran:glsetting.lang}}
        </div>
    </div>

    <!--<div *ngFor="#i of [5,4,3,2,1,0]" class="ui grid" id="gua-region">
        <div class="four wide column" *ngIf="showArrow">
            <div class="ui grid">
                <div class="six wide column"
                     style="padding-left:3px;padding-top: 0;padding-right: 0;padding-bottom: 0">
                    {{Shen6[i]| tran:glsetting.lang}}
                </div>
                <div class="ten wide column gua mean"
                     [attr.data-content]="Fuyaos[i].info"
                     style="padding:0;color: grey">
                    {{Fuyaos[i].Text | tran:glsetting.lang}}
                </div>
            </div>
        </div>
        <div class="five wide column" *ngIf="showArrow == false">
            <div class="ui grid">
                <div class="six wide column"
                     style="padding-left:3px;padding-top: 0;padding-right: 0;padding-bottom: 0">
                    {{Shen6[i]| tran:glsetting.lang}}
                </div>
                <div class="ten wide column gua mean"
                     [attr.data-content]="Fuyaos[i].info"
                     style="padding:0;color: grey">
                    {{Fuyaos[i].Text | tran:glsetting.lang}}
                </div>
            </div>
        </div>

        <div class="six wide column gua mean"
             [attr.data-content]="Benyaos[i].info"
             style="padding:0;">
            {{Benyaos[i].Text | tran:glsetting.lang}}
            <img [src]="Benyaos[i].Img">
            {{Benyaos[i].ShiYing | tran:glsetting.lang}}
        </div>
        <div class="column" *ngIf="showArrow"
             style="padding:0;font-weight: bolder">
            <img [src]="ShiYing[i]">
        </div>
        <div class="five wide column gua mean"
             *ngIf="HasBianGua"
             [attr.data-content]="Bianyaos[i].info"
             style="padding:0;">
            {{Bianyaos[i].Text | tran:glsetting.lang}}
            <img [src]="Bianyaos[i].Img">
        </div>
    </div>-->
    
    <table class="ui unstackable compact table" style="padding:0; margin:0" id="gua-table">
        <tbody>
            <tr *ngFor="#i of [5,4,3,2,1,0]">
                <td style="padding-left:0;padding-right:0;border-collapse:collapse">
                    {{Shen6[i]| tran}}
                </td>
                <td style="padding-left:3px;padding-right:3px;text-align:center;color:lightgrey">
                    {{Fuyaos[i].Text | tran}}
                </td>
                <td style="padding-left:0;padding-right:0;">
                    {{Benyaos[i].Text | tran}}
                    <img [src]="Benyaos[i].Img">
                    {{Benyaos[i].ShiYing | tran}}
                </td>
                <td *ngIf="showArrow" style="padding-left:0;padding-right:0;text-align:center">
                    <img [src]="ShiYing[i]" width="16">
                </td>
                <td *ngIf="HasBianGua" style="padding-left:0;padding-right:0;margin-right: -10px">
                    {{Bianyaos[i].Text | tran}}
                    <img [src]="Bianyaos[i].Img">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="ui attached segment transition hidden gua setting">
    <div class="ui form">
        <div class="two fields">
            <div class="inline field">
                <label>{{'每行显示神煞数:' | tran:glsetting.lang}}</label>
                <select class="ui fluid dropdown"
                        [(ngModel)]="shenshaColumnCount">
                    <option value="4">四</option>
                    <option value="5">五</option>
                    <option value="6">六</option>
                    <option value="7">七</option>
                </select>
            </div>
            <div class="inline field">
                <label>{{'卦爻显示方式:' | tran:glsetting.lang}}</label>
                <select class="ui fluid dropdown"
                        [(ngModel)]="simpleShow">
                    <option value="f">{{'全排' | tran:glsetting.lang}}</option>
                    <option value="s">{{'简排' | tran:glsetting.lang}}</option>
                </select>
            </div>
        </div>

        <div class="two fields">
            <div class="inline field">
                <div class="ui checkbox">
                    <input type="checkbox" [(ngModel)]="showArrow">
                    <label>{{'显示变爻箭头' | tran:glsetting.lang}}</label>
                </div>
            </div>
        </div>
    </div>
</div>