<div [style.min-height.px]="WinHeight">
    <div class="ui top attached pointing menu">
        <div class="ui animated fade primary button item" (click)="showMenu()">
            <div class="visible content">
                <i class="sidebar icon"></i>
            </div>
            <div class="hidden content">
                {{'菜单' | tran:glsetting.lang}}
            </div>
        </div>
        <div class="ui animated fade primary button item" (click)="loadBooks()">
            <div class="visible content">
                <i class="cloud download icon"></i>
            </div>
            <div class="hidden content">
                {{'下载' | tran:glsetting.lang}}
            </div>
        </div>
        <div class="ui animated fade primary button item" (click)="editBook()">
            <div class="visible content">
                <i class="book icon"></i>
            </div>
            <div class="hidden content">
                {{'新建' | tran:glsetting.lang}}
            </div>
        </div>
        <div class="ui animated fade primary button item" (click)="importBook()" *ngIf="!IsCordova">
            <div class="visible content">
                <i class="share square icon"></i>
            </div>
            <div class="hidden content">
                <input type="file" hidden id="import-book-btn" (change)="importBookWeb($event)">
                {{'导入' | tran:glsetting.lang}}
            </div>
        </div>
        <!--<div class="item active"
             [class.active]="Market == 'private'"
             (click)="Market = 'private'">
            {{'个人' | tran:glsetting.lang}}
        </div>
        <div class="item"
             [class.active]="Market == 'public'"
             (click)="Market = 'public'">
            {{'公共' | tran:glsetting.lang}}
        </div>-->
        <!--<div class="right menu">
            <div class="ui basic button item" (click)="editBook()">
                {{'创建新书' | tran:glsetting.lang}}
            </div>
        </div>-->
    </div>
    
    <div class="ui segment" *ngIf="Loading">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">{{'加载' | tran:glsetting.lang}}</div>
        </div>
        <p>{{'正在加载数据, 请耐心等候...' | tran:glsetting.lang}}</p>
    </div>
    
    <div class="ui cards" style="padding-top:5px">
        <div class="card" *ngFor="#book of Books">
            <a class="ui basic right corner label" (click)="pushCloud(book)">
                <i class="cloud green icon" *ngIf="book.IsCloud"></i>
                <i class="inbox icon" *ngIf="!book.IsCloud"></i>
            </a>
            <div class="content">
                <div class="header">{{book.Name | tran:glsetting.lang}}</div>
                <div class="meta">
                  <p>
                      {{'创建日期：'  | tran:glsetting.lang}}
                      {{book.Created}}
                  </p>
                  <p>
                      {{'修改日期：'  | tran:glsetting.lang}}
                      {{book.Modified}}
                  </p>
                </div>
                <div class="description">
                    {{book.Desc | tran:glsetting.lang}}
                </div>
                
            </div>
            <div class="extra content">
               作者：{{book.Author | tran:glsetting.lang}}
            </div>
            <div class="ui bottom attached menu">
                <div class="compact ui blue basic button item"
                    style="padding-top:0;padding-bottom:0;margin-left:2px"
                    (click)="openBook(book)">
                    <i class="folder open outline icon"></i>
                    {{'打开' | tran:glsetting.lang}}
                </div>
                <div class="compact ui blue basic button item"
                    style="padding-top:0;padding-bottom:0;"
                    *ngIf="book.Editable"
                    (click)="editBook(book)">
                    <i class="write icon"></i>
                    {{'编辑' | tran:glsetting.lang}}
                </div>
                <div class="compact ui blue basic button item"
                    style="padding-top:0;padding-bottom:0"
                    *ngIf="book.Editable"
                    (click)="deleteBook(book)">
                    <i class="trash outline icon"></i>
                    {{'删除' | tran:glsetting.lang}}
                </div>
            </div>
        </div>
    </div>
</div>