<div id="bookcontent-content" [style.min-height.px]="WinHeight">
    <div class="ui top attached segment"
         style="text-align: center" >
        <a class="ui basic top left attached large label"
           style="margin-bottom: 0"
           (click)="goBack()">
            <i class="angle left icon"></i>
            {{'返回' | tran:glsetting.lang}}
        </a>
        
        {{'书名: ' + BookName | tran:glsetting.lang}}
        
        <a class="ui basic top right attached large label"
           style="margin-bottom: 0"
           [class.disabled]="!IsCloud"
           (click)="synchronCloud()">
            <i class="cloud upload icon"></i>
            {{'云同步' | tran:glsetting.lang}}
        </a>
    </div>
    <div class="ui attached segment" style="padding: 0">
        <div class="ui buttons">
            <!--<div class="ui icon button"
                 [class.disabled]="!IsCloud"
                 (click)="synchronCloud()">
                <i class="cloud upload icon"></i>
            </div>-->
            <div class="ui icon button" (click)="deleteRecords()">
                <i class="trash outline icon"></i>
                {{'删除' | tran:glsetting.lang}}
            </div>
            <div class="ui icon button" (click)="showCopyDialog()">
                <i class="copy icon"></i>
                {{'复制' | tran:glsetting.lang}}
            </div>
        </div>
        <div class="ui checkbox" style="margin-left: 5px">
            <input type="checkbox" [(ngModel)]="ShowGua">
            <label>六爻</label>
        </div>
        <div class="ui checkbox" style="margin-left: 5px;margin-right: 5px">
            <input type="checkbox"  [(ngModel)]="ShowBazi">
            <label>八字</label>
        </div>
        <div class="ui compact small menu">
            <div class="ui simple dropdown item">
                {{recordsort | tran}}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" (click)="sortcontent('创建时间')">{{'创建时间' | tran}}</div>
                    <div class="item" (click)="sortcontent('修改时间')">{{'修改时间' | tran}}</div>
                </div>
            </div>
        </div>
        <div class="ui icon input">
            <input type="text" placeholder="{{'查找标题和内容...' | tran}}"
            (change)="dosearch($event)">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="ui attached segment">
        <div class="ui segment" *ngIf="!Loaded">
            <div class="ui active inverted dimmer">
                <div class="ui text loader">{{'加载' | tran:glsetting.lang}}</div>
            </div>
            <p>{{'正在加载数据, 请耐心等候...' | tran:glsetting.lang}}</p>
        </div>

        <div class="ui items" *ngIf="Loaded">
            <div class="middle aligned item" style="padding-top: 0;"
                 *ngFor="#rd of Records | paginate:{currentPage: 1, itemsPerPage: pageSize, totalItems: sumItems}">
                <div class="content">
                    <div class="meta">
                        <input type="checkbox" [(ngModel)]="rd.Checked">
                        {{rd.Detail}}
                    </div>
                    <div class="description">
                        <a class="ui mini teal circular label" *ngIf="rd.IsGua">六爻</a>
                        <a class="ui mini blue circular label" *ngIf="!rd.IsGua">八字</a>
                        {{rd.Question}}
                        <button class="ui right floated basic icon button"
                                (click)="openRecord(rd)">
                            <i class="chevron right icon"></i>
                        </button>
                    </div>
                    <div class="extra">
                        {{'创建：' | tran:glsetting.lang}}
                        {{rd.Created}}
                        <i class="bookmark icon" [class.green]="rd.Feed"></i>
                        <i class="cloud icon" *ngIf="!rd.Loading" [class.green]="rd.IsCloud" (click)="syncRecord(rd)"></i>
                        <i class="refresh icon" *ngIf="rd.Loading"></i>
                        <div class="ui divider"></div>
                    </div>
                </div>
            </div>

            <pagination-controls (change)="onPageChanged($event.page)"></pagination-controls>
        </div>
    </div>
    
    <div class="ui modal copy record">
        <div class="header">{{'复制记录' | tran:glsetting.lang}}</div>
        <div class="content">
            <div class="ui form">
                <div class="grouped fields">
                    <label>{{'选择一本书集：' | tran}}</label>
                    <div class="field" *ngFor="#bk of books"
                        (click)="selectedbook = bk">
                        <div class="ui radio checkbox">
                            <input type="radio" name="selectbook">
                            <label>{{bk.name | tran:glsetting.lang}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel small button">{{'取消' | tran:glsetting.lang}}</div>
            <div class="ui approve primary small button"
                 (click)="copyRecords(false)"
                [class.disabled]="selectedbook == null">
                {{'复制' | tran:glsetting.lang}}
            </div>
            <div class="ui approve primary small button"
                 (click)="copyRecords(true)"
                 [class.disabled]="selectedbook == null">
                {{'移动' | tran:glsetting.lang}}
            </div>
        </div>
    </div>
</div>

