<div class="ui to attached segment" style="min-height: 100vh">
    <div class="ui segment" *ngIf="Loging">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">{{'用户登录' | tran:glsetting.lang}}</div>
        </div>
        <p>{{'正在连接数据库, 请耐心等候...' | tran:glsetting.lang}}</p>
    </div>
    <div class="ui segment" *ngIf="Sendingmail">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">{{'发送邮件' | tran:glsetting.lang}}</div>
        </div>
        <p>{{'正在发送邮件, 请耐心等候...' | tran:glsetting.lang}}</p>
    </div>

    <div class="ui form" id="login-normalform" *ngIf="Loging == false">
        <div class="inline field">
            <label>帐号：</label>
            <input type="text" placeholder="您的用户名或邮箱"
                   [(ngModel)]="Username"/>
        </div>
        <div class="inline field">
            <label>{{'密码：' | tran:glsetting.lang}}</label>
            <input type="password" [(ngModel)]="Password"/>
        </div>

        <!--<div class="inline fields">
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" [(ngModel)]="SaveUsername">
                    <label>{{'记住用户名' | tran:glsetting.lang}}</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" [(ngModel)]="AutoSignIn">
                    <label>{{'自动登录' | tran:glsetting.lang}}</label>
                </div>
            </div>
        </div>-->

        <div class="ui primary buttons">
            <div class="ui button" type="submit"
                 (click)="login()">
                {{'登录' | tran:glsetting.lang}}
            </div>
            <div class="ui button"
                 (click)="regist()">
                {{'注册' | tran:glsetting.lang}}
            </div>
            <div class="ui button"
                 (click)="changeView('login-vergessen', 'login-normalform')">
                {{'忘记密码' | tran:glsetting.lang}}
            </div>
        </div>
    </div>

    <div class="transition hidden" id="login-vergessen" *ngIf="Sendingmail == false">
        <div class="ui left action input">
            <button class="ui teal labeled icon button" (click)="forgetPassword()">
                <i class="mail icon"></i>
                {{'发送密码到邮箱' | tran:glsetting.lang}}
            </button>
            <input type="text" placeholder="yourmail@mail.com" [(ngModel)]='Email'>
        </div>
        <div class="ui form" style="margin-top: 10px">
            <div class="field">
                <label>{{'没有登记注册邮箱？请向管理员求助。' | tran:glsetting.lang}}</label>
                    <textarea class='report admin'>
                        {{'请在此填写求助内容以及回邮地址。' | tran:glsetting.lang}}
                    </textarea>
            </div>
        </div>

        <div class="ui primary buttons" style="margin-top: 5px">
            <div class="ui button"
                 (click)="changeView('login-normalform', 'login-vergessen')">
                {{'重新登录' | tran:glsetting.lang}}
            </div>
            <div class="ui button" (click)="reportAdmin()">
                {{'我要求助' | tran:glsetting.lang}}
            </div>
        </div>
    </div>
</div>

