<div class="ui to attached segment">
    <div class="ui negative message" *ngIf="!MailVerified">
        <p>{{'您还没有填写邮箱, 或者邮件地址没有经过验证.' | tran:glsetting.lang}}</p>
        <p>{{'万一丢失密码, 我们无法通知您新的密码.' | tran:glsetting.lang}}</p>
    </div>

    <div class="ui buttons" >
        <div class="ui icon button" [class.disabled]="(EditModel || PwModel)"
             (click)="EditModel = true">
            <i class="edit icon"></i>
        </div>
        <div class="ui icon button" [class.disabled]="!EditModel"
             (click)="EditModel = false">
            <i class="save icon"></i>
        </div>
        <div class="ui icon button" [class.disabled]="PwModel || EditModel"
             (click)="sendVerifyEmail()">
            <i class="mail icon"></i>
        </div>
        <div class="ui icon button" (click)="PwModel = true"
            [class.disabled]="PwModel || EditModel">
            <i class="privacy icon"></i>
        </div>
        <div class="ui icon button" (click)="logout()">
            <i class="sign out icon"></i>
        </div>
    </div>

    <div id="profile-page" class="ui form" >
        <div class="inline field" style="margin-top: 10px">
            <label>{{'用户' | tran:glsetting.lang}}</label>
            <a class="ui basic teal label">
                {{Username}}
            </a>
        </div>
        <div class="inline field">
            <label>{{'昵称' | tran:glsetting.lang}}</label>
            <input type="text" [(ngModel)]="NickName" [readonly]="!EditModel"/>
        </div>
        <div class="inline field">
            <label>{{'邮箱' | tran:glsetting.lang}}</label>
            <input type="text" [(ngModel)]="Email" [readonly]="!EditModel"/>
            <label *ngIf="!MailVerified">
                {{'未验证' | tran:glsetting.lang}}
            </label>
            <label *ngIf="MailVerified">
                {{'已验证' | tran:glsetting.lang}}
            </label>
        </div>
        <div class="inline field">
            <label>{{'签名' | tran:glsetting.lang}}</label>
            <input type="text"  [(ngModel)]="Moto" [readonly]="!EditModel"/>
        </div>
        <div class="inline field">
            <label>{{'组别' | tran:glsetting.lang}}</label>
            <label>{{Group}}</label>
        </div>
        <div class="inline field">
            <label>{{"头像" | tran:glsetting.lang}}</label>
            <!--<input type="file" name=""/>-->
            <button class='ui primary tiny button' id="uploadQiniu"
                    [class.disabled]="imagequote == null">
                {{'上传头像' | tran:glsetting.lang}}
            </button>
        </div>
        <img [src]="Icon" height="64" width="64" *ngIf="!ChangingIcon">
        <div class="ui active small inline loader" *ngIf="ChangingIcon"></div>
    </div>
    <div id="profile-changepw" class="transition hidden" id='uploadQiniu'>
        <div class="ui form" style="margin-top: 10px">
            <div class="inline field">
                <label>{{'旧密码：' | tran:glsetting.lang}}</label>
                <input type="password"
                       placeholder="6 至 20 个字符" [(ngModel)]="pw"/>
            </div>
            <div class="inline field">
                <label>{{'新密码第一次：' | tran:glsetting.lang}}</label>
                <input type="password"
                       placeholder="6 至 20 个字符" [(ngModel)]="pw1"/>
            </div>
            <div class="inline field">
                <label>{{'新密码第二次：' | tran:glsetting.lang}}</label>
                <input type="password"
                       placeholder="6 至 20 个字符" [(ngModel)]="pw2"/>
            </div>
            <div class="ui primary button"
                 [class.disabled]="changingpw"
                 (click)="resetpassword()">
                {{'确定' | tran:glsetting.lang}}
            </div>
            <div class="ui primary button" (click)="PwModel = false">
                {{'取消' | tran:glsetting.lang}}
            </div>
        </div>
    </div>
</div>