<div class="ui attached segment">
    <div>
        <a class="ui blue ribbon label" (click)="showSetting()">
            {{Info.Title | tran:glsetting.lang}}
        </a>

        <div class="ui top right attached label" (click)="showYuanJu()">
            <i class="pin icon"></i>
        </div>
    </div>

    <div class="ui fluid accordion bazi">
        <div class="title">
            <i class="dropdown icon"></i>
            <span style="font-weight: bolder">{{'命主: ' | tran:glsetting.lang}}</span>
            {{Info.Name | tran:glsetting.lang}}
        </div>
        <div class="content" style="padding: 0">
            <p  style="margin: 0">
                <span style="font-weight: bolder">{{'出生时间: ' | tran:glsetting.lang}}</span>
                {{Info.Birthday | tran:glsetting.lang}}
            </p>
            <p  style="margin: 0">
                <span style="font-weight: bolder">{{'出生地点: ' | tran:glsetting.lang}}</span>
                {{Info.Place | tran:glsetting.lang}}
            </p>
            <p  style="margin: 0">
                <span style="font-weight: bolder">{{'真太阳时: ' | tran:glsetting.lang}}</span>
                {{Info.SolarTime | tran:glsetting.lang}}
            </p>
        </div>
    </div>

    <div class="ui grid yuanju">
        <div class="two wide column">
            <div>&nbsp;</div>
            <h4 style="padding: 0;margin: 0;font-weight: bold">{{Info.Gender | tran:glsetting.lang}}</h4>
        </div>
        <div *ngFor="#zhu of Main" class="three wide column bazi mean"
             [attr.data-title]="zhu.NaYin"
             [attr.data-content]="CalcShenSha(zhu)"
             style="text-align: center;">
            <div style="color: gray">{{zhu.Shen10Gan[0] | tran:glsetting.lang}}</div>
            <h4 style="padding: 0;margin: 0;font-weight: bold">{{zhu.Gan.Name | tran:glsetting.lang}}</h4>
            <h4 style="padding: 0;margin: 0;font-weight: bold">{{zhu.Zhi.Name | tran:glsetting.lang}}</h4>
            <div style="color: gray">{{zhu.Shen10Zhi[0] | tran:glsetting.lang}}</div>
        </div>
    </div>

    <div class="ui fluid accordion bazi" *ngIf="ShowItem.MingJu">
        <div class="title">
            <i class="dropdown icon"></i>
            【{{'命宫 - ' + Bazi.MingGong.Name | tran:glsetting.lang}}】
            【{{'胎元 - ' + Bazi.TaiYuan.Name | tran:glsetting.lang}}】
        </div>
        <div class="content" style="padding: 0">
            <div class="ui grid">
                <div class="two wide column"
                     style="font-weight: bold;text-align: center;padding-bottom: 0;padding-left: 0;padding-right: 0">
                    <div>{{'藏干' | tran:glsetting.lang}}</div>
                    <div>&nbsp;</div>
                    <div>{{'宫位' | tran:glsetting.lang}}</div>
                    <div>{{'纳音' | tran:glsetting.lang}}</div>
                </div>
                <div *ngFor="#mj of MingJu"
                     class="three wide column"
                    style="text-align: center;padding-bottom: 0;padding-left: 0;padding-right: 0">
                    <div>{{mj.CGan | tran:glsetting.lang}}</div>
                    <div style="color: gray">{{mj.Shen10 | tran:glsetting.lang}}</div>
                    <div>{{mj.ChangSheng | tran:glsetting.lang}}</div>
                    <div>{{mj.NaYin | tran:glsetting.lang}}</div>
                </div>
            </div>

            <div class="ui grid">
                <div class="two wide column"
                     style="font-weight: bold;text-align: center;padding-top: 0;padding-left: 0;padding-right: 0">
                    <div>{{'五行' | tran:glsetting.lang}}</div>
                </div>
                <div *ngFor="#wx of Bazi.WuXings"
                     class="two wide column"
                     style="text-align: center;padding: 0">
                    [{{wx.Name}} - {{wx.Num}}]
                </div>
            </div>
        </div>
    </div>
    <div class="ui fluid accordion bazi" *ngIf="ShowItem.ShenSha">
        <div class="title">
            <i class="dropdown icon"></i>
            {{'神煞' | tran:glsetting.lang}}
        </div>
        <div class="content" style="padding: 0">
            <div class="ui equal width grid" *ngFor="#ssbazi of ShenShas; #row=index"
                style="margin-left: 3px">
                <div class="column" *ngFor="#ss of ssbazi"
                     [style.padding-top]="ss.First ? null : 0"
                     [style.padding-bottom]="ss.Last ? null : 0"
                     style="padding-left: 0px;padding-right: 0px;">
                    <span *ngIf="ss.Empty == false">{{ss.Text | tran:glsetting.lang}}</span>
                    <s *ngIf="ss.Empty">{{ss.Text | tran:glsetting.lang}}</s>
                </div>
            </div>
        </div>
    </div>
    <div class="ui fluid accordion bazi" *ngIf="ShowItem.DaYun">
        <div class="title">
            <i class="dropdown icon"></i>
            {{'大运' | tran:glsetting.lang}}
        </div>
        <div class="content" style="padding: 0">
            <div class="ui equal width grid">
                <div *ngFor="#dy of DaYun" class="column"
                    style="padding-left: 0;padding-right: 0;text-align: center">
                    <div style="color: gray">{{dy.GZ.Shen10Gan[1] | tran:glsetting.lang}}</div>
                    <div [style.background-color]="SelectedDaYun === dy ? 'skyblue' : 'white'"
                        (click)="ChangeDaYun(dy)">
                        <div style="margin-top: 3px;font-weight: bold">{{dy.GZ.Gan.Name | tran:glsetting.lang}}</div>
                        <div style="margin-bottom: 3px;font-weight: bold">{{dy.GZ.Zhi.Name | tran:glsetting.lang}}</div>
                    </div>
                    <div style="color: gray">{{dy.GZ.Shen10Zhi[1] | tran:glsetting.lang}}</div>
                    <div>{{dy.GZ.ChangSheng | tran:glsetting.lang}}</div>
                    <div>{{dy.Old}}</div>
                </div>
            </div>
            <div class="ui form">
                <div class="inline field">
                    <label>{{'起始: ' | tran:glsetting.lang}}</label>
                    {{DaYunDetail.Time | tran:glsetting.lang}}
                </div>
                <div class="inline field">
                    <label>{{'纳音: ' | tran:glsetting.lang}}</label>
                    {{DaYunDetail.NaYin | tran:glsetting.lang}}
                </div>
                <div class="inline field">
                    <label>{{'神煞: ' | tran:glsetting.lang}}</label>
                    {{DaYunDetail.ShenSha | tran:glsetting.lang}}
                </div>
            </div>
        </div>
    </div>
    <div class="ui fluid accordion bazi" *ngIf="ShowItem.LiuNian">
        <div class="title">
            <i class="dropdown icon"></i>
            {{'流年小运' | tran:glsetting.lang}}
        </div>
        <div class="content">
            <div class="accordion" style="margin-left: 10px">
                <div *ngFor="#ln of LiuNian">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        {{ln.Title | tran:glsetting.lang}}
                    </div>
                    <div class="content">
                        <div class="ui grid">
                            <div class="two wide column"
                                 style="padding-left: 0;padding-right: 0;text-align: center">
                                {{'年份' | tran:glsetting.lang}}
                            </div>
                            <div class="two wide column" style="padding-left: 0;padding-right: 0;text-align: center">
                                {{'岁数' | tran:glsetting.lang}}
                            </div>
                            <div class="six wide column">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{'流年' | tran:glsetting.lang}}
                            </div>
                            <div class="six wide column">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{'小运' | tran:glsetting.lang}}
                            </div>
                        </div>

                        <div class="ui grid" *ngFor="#y of ln.Liunian">
                            <div class="two wide column" style="padding-top: 0;padding-left: 0;padding-right: 0;text-align: center">
                                {{y.Year}}
                            </div>
                            <div class="two wide column" style="padding-top: 0;padding-left: 0;padding-right: 0;text-align: center">
                                {{y.Old}}
                            </div>
                            <div class="six wide column bazi mean"
                                 style="padding-top: 0;color: gray;padding-left: 0;padding-right: 0"
                                 [attr.data-title]="y.GZ.NaYin"
                                 [attr.data-content]="y.GZ.ShenSha">
                                ({{y.GZ.Shen10Gan[1]}})
                        <span style="color: black; font-weight: bold">
                            {{y.GZ.Name | tran:glsetting.lang}}
                        </span>
                                ({{y.GZ.Shen10Zhi[1]}})
                                |{{y.GZ.ChangSheng}}
                            </div>
                            <div class="six wide column bazi mean"
                                 style="padding-top: 0;color: gray;padding-left: 0;padding-right: 0"
                                 [attr.data-title]="y.GZ2.NaYin"
                                 [attr.data-content]="y.GZ2.ShenSha">
                                ({{y.GZ2.Shen10Gan[1]}})
                        <span style="color: black; font-weight: bold">
                            {{y.GZ2.Name | tran:glsetting.lang}}
                        </span>
                                ({{y.GZ2.Shen10Zhi[1]}})
                                |{{y.GZ2.ChangSheng}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui attached segment transition hidden bazi setting">
    <div class="ui form">
        <div class="two fields">
            <div class="inline field">
                <label>{{'每行显示神煞数:' | tran:glsetting.lang}}</label>
                <select class="ui fluid dropdown"
                        [(ngModel)]="shenshaColumnCount">
                    <option value="4">四</option>
                    <option value="5">五</option>
                    <option value="6">六</option>
                    <option value="7">七</option>
                </select>
            </div>
        </div>

        <div class="four fields">
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" [(ngModel)]="ShowItem.MingJu">
                    <label>{{'命局' | tran:glsetting.lang}}</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" [(ngModel)]="ShowItem.ShenSha">
                    <label>{{'神煞' | tran:glsetting.lang}}</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" [(ngModel)]="ShowItem.DaYun">
                    <label>{{'大运' | tran:glsetting.lang}}</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" [(ngModel)]="ShowItem.LiuNian">
                    <label>{{'流年' | tran:glsetting.lang}}</label>
                </div>
            </div>
        </div>
        
        <div class="inline field">
            <label>{{'快速排八字：' | tran:glsetting.lang}}</label>
            <div class="ui compact buttons">
              <button class="ui compact button" (click)="Recalc(-2)">{{'前一时辰' | tran:glsetting.lang}}</button>
              <button class="ui compact button" (click)="Recalc(2)">{{'后一时辰' | tran:glsetting.lang}}</button>
              <button class="ui compact button" (click)="Recalc(-24)">{{'前一天' | tran:glsetting.lang}}</button>
              <button class="ui compact button" (click)="Recalc(24)">{{'后一天' | tran:glsetting.lang}}</button>
            </div>
        </div>
    </div>
</div>