<p style="margin-top:10px">
    {{'第一爻已经排好. 再次摇掷铜钱, 然后根据落币选择相应组别, 最后按"第二爻"按钮. 如此反复五遍.' | tran:glsetting.lang}}
</p>

<div class="ui raised compact segment" style="padding: 0;">
    <div class="ui small buttons top attached">
        <button class="ui vertical animated button"
                [class.teal]="yao === 0"
                (click)="changYao(0)">
            <div class="visible content">{{'组合一' | tran:glsetting.lang}}</div>
            <div class="hidden content">{{'少阴' | tran:glsetting.lang}}</div>
        </button>
        <button class="ui vertical animated button"
                [class.teal]="yao === 1"
                (click)="changYao(1)">
            <div class="visible content">{{'组合二' | tran:glsetting.lang}}</div>
            <div class="hidden content">{{'少阳' | tran:glsetting.lang}}</div>
        </button>
        <button class="ui vertical animated button"
                [class.teal]="yao === 2"
                (click)="changYao(2)">
            <div class="visible content">{{'组合三' | tran:glsetting.lang}}</div>
            <div class="hidden content">{{'老阴' | tran:glsetting.lang}}</div>
        </button>
        <button class="ui vertical animated button"
                [class.teal]="yao === 3"
                (click)="changYao(3)">
            <div class="visible content">{{'组合四' | tran:glsetting.lang}}</div>
            <div class="hidden content">{{'老阳' | tran:glsetting.lang}}</div>
        </button>
    </div>

    <div class="ui attached segment">
        <ng-content></ng-content>
    </div>

    <div class="ui attached segment">
        <div class="ui two grid" style="margin-top: 5px;margin-bottom: 5px">
            <div class="item">
                <div class='item' id="step4-yao-5">
                    <img [src]="yao6[5]" />
                </div>
                <div class='item' id="step4-yao-4">
                    <img [src]="yao6[4]" />
                </div>
                <div class='item' id="step4-yao-3">
                    <img [src]="yao6[3]" />
                </div>
                <div class='item' id="step4-yao-2">
                    <img [src]="yao6[2]" />
                </div>
                <div class='item' id="step4-yao-1">
                    <img [src]="yao6[1]" />
                </div>
                <div class='item'>
                    <img [src]="yao6[0]" />
                </div>
            </div>
            <div class="item">
                <div class="middle aligned content" *ngIf="yaoIndex < 6">
                    <p>
                        {{'请再次摇掷铜钱.' | tran:glsetting.lang}}
                    </p>
                    <p>
                        {{'根据落币, 选择相应组别.' | tran:glsetting.lang}}
                    </p>
                    <p>
                        {{'然后按 "' | tran:glsetting.lang}}
                        <span style="font-weight: bolder">{{ButtonText | tran:glsetting.lang}}</span>
                        {{'" 按钮.' | tran:glsetting.lang}}
                    </p>
                </div>
                <div class="middle aligned content" *ngIf="yaoIndex === 6">
                    <p>
                        {{'六个爻都已完成.' | tran:glsetting.lang}}
                    </p>
                    <p>
                        {{'请按 "下一步" 按钮.' | tran:glsetting.lang}}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui bottom attached primary buttons">
        <button class="ui button" (click)="GoBack()">
            {{'重新开始' | tran:glsetting.lang}}
        </button>
        <div class="ui submit button"
             [class.disabled]='Question == ""'
             (click)="NextYao()">
            {{ButtonText | tran:glsetting.lang}}
        </div>
    </div>
</div>