<div class="ui dropdown semantic"
     *ngIf="!UseOrigin"
     [style.font-size]="FontSize">
    <!--<div class="default text">{{Selected.Text | tran:glsetting.lang}}</div>-->
    <span class="text">{{Selected.Text | tran:glsetting.lang}}</span>
    <i class="dropdown icon"></i>
    <div class="menu" *ngIf="Grouped">
        <div class="item" *ngFor="#gp of Options.Groups">
            <i class="dropdown icon"></i>
            <span class="text">{{gp.Name | tran:glsetting.lang}}</span>
            <div class="right menu">
                <div class="item" *ngFor="#i of gp.Items"
                    [attr.data-value]="i.Value">
                    {{i.Text | tran:glsetting.lang}}
                </div>
            </div>
        </div>
    </div>
    <div class="menu" *ngIf="!Grouped" style="max-height: 200px">
        <div class="item" *ngFor="#i of Options.Items"
             [attr.data-value]="i.Value">
            {{i.Text | tran:glsetting.lang}}
        </div>
    </div>
</div>

<!--<select class="ui dropdown"
        *ngIf="UseOrigin"
        (change)="changeValue($event)">
    <div class="default text">{{Selected.Text | tran:glsetting.lang}}</div>
    <option *ngFor="#i of Options.Items"
            [value]="i.Value"
            [disabled]="i.Value == null">
        {{i.Text | tran:glsetting.lang}}
    </option>
</select>-->

<span *ngIf="UseOrigin" (click)="showModal()" [style.font-size]="FontSize">
    <!--<span class="default text">{{Selected.Text | tran:glsetting.lang}}</span>-->
    <span class="default text">
        {{Selected.Text | tran:glsetting.lang}}
    </span>
    <i class="dropdown icon"></i>
</span>
<div class="ui small modal" *ngIf="UseOrigin" [style.font-size]="FontSize">
    <div class="content">
        <div class="ui selection list" style="height:300px;overflow-y:auto">
            <div class="ui" *ngFor="#i of Options.Items"
                 (click)="activeItem = i"
                 [class.divider]="i.Value == null"
                 [class.item]="i.Value != null">
                {{i.Text | tran:glsetting.lang}}
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel small button">
            {{'取消' | tran:glsetting.lang}}
        </div>
        <div class="ui approve small button">
            {{'确定' | tran:glsetting.lang}}
        </div>
    </div>
</div>
