<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-right: 0;">
        <ng-content></ng-content>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
        <div class="ui top attached segment" style="padding: 0;">
            <div class="ui buttons">
                <div class="ui icon button" (click)="showSetting()">
                    <i class="setting icon"></i>
                    {{'功能' | tran}}
                </div>
                <div class="ui icon button" (click)="goNextRecord(-1)">
                    <i class="angle double left icon"></i>
                    {{'上个记录' | tran}}
                </div>
                <div class="ui icon button" (click)="goNextRecord(1)">
                    
                    {{'下个记录' | tran}}
                    <i class="angle double right icon"></i>
                </div>
                
                <!--<div class="ui icon button"
                     (click)="syncRecord()">
                    <i class="cloud icon" [class.teal]="IsCloud"></i>
                </div>-->
            </div>
            
        </div>
        
        <div class="ui attached segment transition hidden" 
            style="padding: 0;" 
            id="bookrecord-edit" >
            <div class="ui buttons">
                <div class="ui icon button" [class.disabled]="EditModel"
                     (click)="EditModel = true">
                    <i class="edit icon"></i>
                    {{'编辑' | tran}}
                </div>
                <div class="ui icon button" [class.disabled]="!EditModel"
                     (click)="EditModel = false">
                    <i class="save icon"></i>
                    {{'保存' | tran}}
                </div>
                <div class="ui icon button" (click)="insertLink()">
                    <i class="file image outline icon"></i>
                    {{'外链图片' | tran}}
                </div>
                <div class="ui icon button" [id]="ButtonId" 
                    [class.disabled]="!AllowQiniu"
                    *ngIf="!IsCordova">
                    <i class="attach icon"></i>
                    {{'内链图片' | tran}}
                </div>
            </div>
        </div>

        <table class="ui attached table">
            <tbody>
            <tr>
                <td class="collapsing" style="font-weight: bold">
                    <i class="info teal icon"></i>
                    {{QuestionT | tran:glsetting.lang}}
                </td>
                <td class="editable question">

                </td>
            </tr>
            <tr>
                <td class="collapsing" style="font-weight: bold">
                    <i class="bookmark icon" [class.teal]="Feed"></i>
                    {{'反馈: ' | tran:glsetting.lang}}
                </td>
                <td class="editable feed" align="left">

                </td>
            </tr>
            <tr>
                <td class="collapsing" style="font-weight: bold">
                    <i class="code outline teal icon"></i>
                    {{'解读: ' | tran:glsetting.lang}}
                </td>
                <td class="editable description" align="left">

                </td>
            </tr>
            </tbody>
        </table>

        <div class="ui attached segment" *ngIf="UpLoading">
            <div class="ui progress success" id="progressUploadPic">
                <div class="bar"></div>
            </div>
        </div>


        <div class="ui attached segment" *ngIf="ImageLink.length > 0">
            <div class="ui cards">
                <div class="ui card" *ngFor="#img of ImageLink; #idx = index">
                    <div class="image">
                        <img [src]="img.url" width="128" height="128"
                            (click)="showOrigPic(img.url)">
                    </div>
                    <div class="content">
                        <span class="left floated" *ngIf="!img.extr"
                              (click)="copyLink(img.url)">
                            <i class="copy icon"></i>
                            {{'内链图片' | tran:glsetting.lang}}
                        </span>
                        <span class="left floated" *ngIf="img.extr"
                              (click)="copyLink(img.url)"
                            style="margin-right: 10px">
                            <i class="copy icon"></i>
                        </span>
                        <span class="left floated" *ngIf="img.extr">
                            <i class="linkify icon"></i>
                            {{'外链图片' | tran:glsetting.lang}}
                        </span>
                        <span class="right floated" (click)="removeLink(img)">
                            <i class="trash outline icon"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui modal picture">
        <div class="content">
            <img class="image" [src]='PictureUrl'>
        </div>
    </div>
</div>
