<div>
    <div class="ui top attached menu">
        <div class="ui animated fade primary button item" (click)="showMenu()">
            <div class="visible content">
                <i class="sidebar icon"></i>
            </div>
            <div class="hidden content">
                {{'菜单' | tran:glsetting.lang}}
            </div>
        </div>
        <div class="ui animated fade primary button item" (click)="addWindow('calendar')">
            <div class="visible content">
                <i class="calendar icon"></i>
            </div>
            <div class="hidden content">
                {{'万年历' | tran:glsetting.lang}}
            </div>
        </div>
        <div class="ui animated fade primary button item" (click)="addWindow('compass')">
            <div class="visible content">
                <i class="compass icon"></i>
            </div>
            <div class="hidden content">
                {{'罗盘' | tran:glsetting.lang}}
            </div>
        </div>
    </div>
    
    <div class="row">
        <ty-window *ngFor="#frame of FrameList" #tywind
                   class="col-xs-12"
                   [class.col-lg-4]='tywind.wide === false'
                   [class.col-lg-6]='tywind.wide === true'
                   [class.col-sm-6]='tywind.wide === false'
                   [class.col-sm-12]='tywind.wide === true'
                   [class.col-md-6]='tywind.wide === false'
                   [class.col-md-12]='tywind.wide === true'
                   [data]="frame"
                   (afterSave)="navToRecord($event)"
                   (onclosing)="oncloseWind($event)">
            <!--<calendarview class='calendarview' *ngIf='frame.type == "calendar"'></calendarview>-->
            <!--<guaview class='guaview' *ngIf='frame.type == "gua"'></guaview>-->
            <!--<div class='otherview' *ngIf='frame.type == "other"'>some thing else</div>-->
            <calendarview *ngIf='frame.type == "calendar"'></calendarview>
            <guaview *ngIf='frame.type == "gua"' [initdata]="frame.data"></guaview>
            <baziview *ngIf='frame.type == "bazi"' [initdata]="frame.data"></baziview>
            <compass-view *ngIf="frame.type == 'compass'"></compass-view>
            <div *ngIf='frame.type == "other"'>some thing else</div>
        </ty-window>
    </div>
</div>