<div class='box' style="margin-top:5px;">
    <div class="ui attached segment" style='padding:0' #domtosave>
        <ng-content></ng-content>
    </div>
    <div class="ui bottom attached small menu" style="background-color: #eee;">
        <div class="right menu">
            <div class="ui animated vertical button item" (click)='showSetting()'>
                <div class="visible content">
                    <i class="icon setting"></i>
                </div>
                <div class="hidden content">
                    {{'功能' | tran:glsetting.lang}}
                </div>
            </div>
            <div class="ui animated vertical button item" (click)='wide = !wide'>
                <div class="visible content">
                    <i class="icon resize horizontal"></i>
                </div>
                <div class="hidden content">
                    {{'宽显' | tran:glsetting.lang}}
                </div>
            </div>
            <div class="ui animated vertical button item" (click)="saveAsPng(domtosave)">
                <div class="visible content">
                    <i class="icon photo"></i>
                </div>
                <div class="hidden content">
                    {{'快照' | tran:glsetting.lang}}
                </div>
            </div>
            <div class="ui animated vertical button item" 
                *ngIf='CanSave'
                (click)="showSaveModal(modal)">
                <div class="visible content">
                    <i class="icon save"></i>
                </div>
                <div class="hidden content">
                    {{'保存' | tran:glsetting.lang}}
                </div>
            </div>
            <div class="ui animated vertical button item" (click)="close()">
                <div class="visible content">
                    <i class="icon remove"></i>
                </div>
                <div class="hidden content">
                    {{'关闭' | tran:glsetting.lang}}
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="ui modal save pan" #modal [id]="data.id">
        <div class="header">{{'保存记录' | tran:glsetting.lang}}</div>
        <div class="content">
            <div class="ui vertical menu">
                <a class="approve item" *ngFor="#bk of books" (click)="saveTo(bk)">
                    {{bk.name | tran:glsetting.lang}}
                </a>
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">{{'取消操作' | tran:glsetting.lang}}</div>
        </div>
    </div>
</div>

